$size_l: 960px;
$size_m: 600px;
$size_s: 420px;

* {
  outline: none;
  border:none
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    overflow: hidden;
  }

section, header, main, footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}