@import '../../styles/nomis.scss';

main {
    padding: 4rem 0;
    .container {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .button {
        border-radius: .75rem;
        padding: 1.25em 1.5em 1em 1.5em;
        transition: transform .2s ease-in-out;

        
        span {
            font-family: $font_fancy;
            font-size: 1.75rem;
            color: $color_button;
            background: $color_tech;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .button:hover { transform: scale(1.05); }

    .dapp {
        background: white;
        margin-right: 1rem;
    }

    .docs {
        background: black;
    }

    .overlay {
        margin: auto;
        margin-top: 2rem;
        background: hsla(0, 0, 0, .2);
        max-width: fit-content;
        padding: 1rem;
        border-radius: 2.5rem;
        align-items: center;
        flex-wrap: wrap;

        * {
            padding: 1rem;
        }
    }
}

@media screen and (max-width: $size_m) {
    main { padding: 1rem 0;
        .button {
            padding: .75em 1.5em .75em 1.5em;
            span {font-size: 1.25rem}
        }
        .overlay { padding: .5rem;
        * { padding: .5rem; }}
    }
}